<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>(IPH) Incremental Package Hub</title>
        <script src="libs/vue.global.prod.js"></script>
        <link href="libs/primer.css" rel="stylesheet" />
        <script src="libs/fly.min.js"></script>
        <script src="libs/cos-js-sdk-v5.min.js"></script>
        <script>
            const cos_id = "AKIDDG3ZppdBSTDgsoTqwrVsynMegRxCAsKV";
            const cos_key = "wbz6wWrvjHYZIkvpTqwlJbcNr4RYOxFG";

            const cos = new COS({
                SecretId: cos_id,
                SecretKey: cos_key,
            });

            function list_files(prefix) {
                return new Promise((resolve, reject) => {
                    let files = [];
                    function get_list(mark) {
                        cos.getBucket(
                            {
                                Bucket: "iph-1258787308",
                                Region: "ap-beijing",
                                Prefix: prefix,
                                Marker: mark,
                            },
                            function (err, data) {
                                if (err) {
                                    reject(new Error(`Error ${err}`));
                                } else {
                                    files.push.apply(files, data.Contents);
                                    if (data.NextMarker) {
                                        get_list(data.NextMarker);
                                    } else {
                                        resolve(files);
                                    }
                                }
                            }
                        );
                    }
                    get_list(null);
                });
            }

            function load_json(url) {
                return fly.get(url, null, {
                    responseType: "json",
                });
            }

            function handle_error(err) {
                alert(err);
                console.log(err);
            }

            function load_commit(url, commits, sort_func) {
                load_json(url)
                    .then((response) => {
                        let c = response.data;
                        c.packages = Vue.ref([]);
                        commits.push(c);
                        commits.sort(function (a, b) {
                            return b.timestamp - a.timestamp;
                        });
                        list_files(`${c.project}-${c.branch}/metas/${c.datetime.substring(0, 10)}-${c.short_id}`)
                            .then((data) => {
                                load_packages(data, c);
                            })
                            .catch((err) => {
                                handle_error(err);
                            });
                    })
                    .catch((err) => {
                        handle_error(err);
                    });
            }

            function load_packages(data, commit) {
                for (const i of data) {
                    if (i.Key.endsWith(".meta")) {
                        load_json(i.Key)
                            .then((response) => {
                                let p = response.data;
                                p.icon_url = p.icon;
                                commit.packages.value.push(p);
                                commit.packages.value.sort(function (a, b) {
                                    return a.url > b.url ? 1 : -1;
                                });
                            })
                            .catch((err) => {
                                handle_error(err);
                            });
                    }
                }
            }
        </script>
    </head>

    <body>
        <div class="Header d-block">
            <div class="container-sm">
                <div class="Header-item">
                    <div class="Header-link f4 d-flex flex-items-center">
                        <svg
                            height="32"
                            class="octicon octicon-mark-github mr-2"
                            viewBox="0 0 1024 1024"
                            version="1.1"
                            width="32"
                            aria-hidden="true"
                        >
                            <path
                                d="M218.453333 213.333333l34.56-42.666666h512l40.106667 42.666666M512 746.666667L277.333333 512H426.666667v-85.333333h170.666666v85.333333h149.333334L512 746.666667m364.373333-523.52l-59.306666-71.68C805.546667 136.96 788.053333 128 768 128H256c-20.053333 0-37.546667 8.96-49.493333 23.466667L147.626667 223.146667C135.253333 237.653333 128 256 128 277.333333V810.666667a85.333333 85.333333 0 0 0 85.333333 85.333333h597.333334a85.333333 85.333333 0 0 0 85.333333-85.333333V277.333333c0-21.333333-7.253333-39.68-19.626667-54.186666z"
                                fill-rule="evenodd"
                            ></path>
                        </svg>
                        <span>Incremental Package Hub</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="app" class="container-sm">
            <div v-for="c in commits" class="mx-3">
                <div :class="is_root ? 'border color-shadow-medium p-3 rounded-3 mt-3' : 'TimelineItem'">
                    <div :class="is_root ? 'float-left mr-3' : 'TimelineItem-badge'">
                        <img
                            v-if="!c.day"
                            @click="show_folder(c)"
                            :class="is_root ? 'avatar avatar-8 rounded-3 box-shadow-none' : 'avatar avatar-4 box-shadow-none'"
                            :src="get_icon(c)"
                        />
                    </div>
                    <div v-if="!c.day" class="overflow-hidden">
                        <div class="lh-condensed">
                            <span v-if="is_root" class="h4 text-uppercase">{{ c.project }}</span>
                            <div :class="is_root ? 'float-right' : ''">
                                <span v-if="is_root">&nbsp;</span>
                                <span class="branch-name">{{ c.branch }}</span>
                                <span>&nbsp;</span>
                                <span class="Label Label--success text-mono">{{ c.short_id }}</span>
                            </div>
                        </div>
                        <div class="text-small color-fg-subtle mt-1" @dblclick="toggle_timestamp()">
                            {{ show_timestamp ? c.timestamp : c.datetime }}
                        </div>
                        <div class="text-small color-fg-muted">{{ c.msg }}</div>
                        <div class="text-small color-fg-default">{{ c.author }}</div>
                        <div class="mt-2">
                            <div v-for="pkg in c.packages">
                                <img
                                    class="avatar avatar-1 mr-1 box-shadow-none"
                                    :src="pkg.icon_url === '' ? 'package.png' : pkg.icon_url"
                                />
                                <a
                                    class="text-small text-bold color-fg-accent mt-1"
                                    :href="'pkg_loader.html?pkg=' + pkg.url"
                                    target="_blank"
                                    >{{ pkg.url.split('/')[1] }}</a
                                >
                            </div>
                        </div>
                    </div>
                    <div v-if="c.day">
                        <button class="btn btn-sm mr-2 mt-1 border-0" type="button" @click="show_hide(c.day)">
                            <span class="color-fg-accent mr-2">{{ c.day }}</span>
                            <span class="color-fg-muted">{{ c.packages_count }} commits</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            const app = Vue.createApp({
                data() {
                    return {
                        folder: "",
                        commits: [],
                        history: [],
                        history_days: {},
                        show_timestamp: false,
                    };
                },
                computed: {
                    is_root() {
                        return this.folder === "";
                    },
                },
                methods: {
                    get_icon(commit) {
                        for (const p of commit.packages) {
                            if (p.icon_url !== "") {
                                return p.icon_url;
                            }
                        }
                        return "package.png";
                    },
                    toggle_timestamp() {
                        this.show_timestamp = !this.show_timestamp;
                    },
                    show_folder(commit) {
                        if (this.folder !== "") return;
                        window.location.hash = `${commit.project}-${commit.branch}`;
                    },
                    show_hide(day) {
                        if (this.history_days[day].show) {
                            this.history_days[day].show = false;
                            for (let i = this.commits.length - 1; i >= 0; i--) {
                                const c = this.commits[i];
                                if (c.day) {
                                    continue;
                                }
                                if (c.datetime.substring(0, 10) == day) {
                                    this.commits.splice(i, 1);
                                }
                            }
                        } else {
                            this.history_days[day].show = true;
                            this.load_commits_by_day(day);
                        }
                    },
                    load_commits_by_day(day) {
                        for (const c of this.history_days[day].commits) {
                            load_commit(c, this.commits, null);
                        }
                    },
                    load_last_commits() {
                        this.commits = [];
                        list_files("last-")
                            .then((data) => {
                                for (const i of data) {
                                    if (i.Key.endsWith(".commit")) {
                                        load_commit(i.Key, this.commits, null);
                                    }
                                }
                            })
                            .catch((err) => {
                                console.log(err);
                            });
                    },
                    load_history_commits(prefix) {
                        this.commits = [];
                        this.history = [];
                        this.history_days = {};
                        list_files(`${prefix}/commits`)
                            .then((data) => {
                                let days = this.history_days;
                                let last_day = "";
                                let last_day_time = new Date("1970-01-01");
                                for (const i of data) {
                                    if (i.Key.endsWith(".commit")) {
                                        let d = i.Key.substring(i.Key.lastIndexOf("/") + 1, i.Key.lastIndexOf("-"));
                                        if (!days.hasOwnProperty(d)) {
                                            let t = new Date(d + " 23:59:59");
                                            days[d] = {
                                                day: d,
                                                show: false,
                                                time: t,
                                                commits: [],
                                            };
                                            if (t > last_day_time) {
                                                last_day_time = t;
                                                last_day = d;
                                            }
                                        }
                                        days[d].commits.push(i.Key);
                                    }
                                }
                                if (last_day == "") {
                                    return;
                                }

                                days[last_day].show = true;
                                for (const d in days) {
                                    this.history.push(days[d]);
                                    this.commits.push({
                                        day: d,
                                        timestamp: days[d].time.valueOf() / 1000,
                                        packages_count: days[d].commits.length,
                                    });
                                }
                                this.load_commits_by_day(last_day);
                            })
                            .catch((err) => {
                                console.log(err);
                            });
                    },
                    on_location_hash_change() {
                        if (window.location.hash.length > 1) {
                            this.folder = window.location.hash.substring(1);
                            this.load_history_commits(this.folder);
                        } else {
                            this.folder = "";
                            this.load_last_commits();
                        }
                    },
                },
                created() {
                    window.addEventListener("hashchange", this.on_location_hash_change);
                    this.on_location_hash_change();
                },
            }).mount("#app");
        </script>
    </body>
</html>
