<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Incremental Package Downloader</title>
        <script src="https://unpkg.com/vue@3.2.23/dist/vue.global.prod.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/idb-keyval@6/dist/umd.js"></script>
        <link href="https://unpkg.com/@primer/css@^19.1.1/dist/primer.css" rel="stylesheet" />
        <script src="zip_loader.js"></script>
        <style></style>
    </head>

    <body>
        <div class="Header">
            <div class="Header-item">
                <a href="#" class="Header-link f4 d-flex flex-items-center">
                    <svg
                        height="32"
                        class="octicon octicon-mark-github mr-2"
                        viewBox="0 0 1024 1024"
                        version="1.1"
                        width="32"
                        aria-hidden="true"
                    >
                        <path
                            d="M218.453333 213.333333l34.56-42.666666h512l40.106667 42.666666M512 746.666667L277.333333 512H426.666667v-85.333333h170.666666v85.333333h149.333334L512 746.666667m364.373333-523.52l-59.306666-71.68C805.546667 136.96 788.053333 128 768 128H256c-20.053333 0-37.546667 8.96-49.493333 23.466667L147.626667 223.146667C135.253333 237.653333 128 256 128 277.333333V810.666667a85.333333 85.333333 0 0 0 85.333333 85.333333h597.333334a85.333333 85.333333 0 0 0 85.333333-85.333333V277.333333c0-21.333333-7.253333-39.68-19.626667-54.186666z"
                            fill-rule="evenodd"
                        ></path>
                    </svg>
                    <span>Incremental Package Downloader</span>
                </a>
            </div>
        </div>

        <div id="app">
            <div v-if="zip_loader !== null">
                <div class="Subhead">
                    <div class="Subhead-heading text-center">&nbsp;</div>
                    <div class="Subhead-description text-center color-fg-default text-bold">
                        {{ shrink_package_title }}
                    </div>
                </div>
                <div class="one-fourth column mt-3 px-3 lh-condensed-ultra wb-break-all color-fg-muted">
                    {{ zip_loader.url }}
                    <span class="Progress Progress--small mt-1">
                        <span
                            class="Progress-item color-bg-success-emphasis"
                            :style="'width: ' + (zip_loader.shrink_data_progress * 100) + '%'"
                        ></span>
                    </span>
                </div>

                <div v-if="zip_loader.download_state !== null">
                    <div class="Subhead">
                        <div class="Subhead-heading text-center">&nbsp;</div>
                        <div class="Subhead-description text-center color-fg-default text-bold">{{ blocks_state }}</div>
                    </div>

                    <div
                        v-for="l in zip_loader.download_queue"
                        class="one-fourth column mt-3 px-3 lh-condensed-ultra wb-break-all color-fg-muted"
                    >
                        {{ l.onloaded[0].name }}
                        <span class="Progress Progress--small mt-1">
                            <span
                                class="Progress-item color-bg-success-emphasis"
                                :style="'width: ' + (l.progress * 100) + '%'"
                            ></span>
                        </span>
                        <div class="text-small color-fg-subtle mt-1">
                            {{ format_size(l.size * l.progress) }}/{{ format_size(l.size) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            function loadPageVar(sVar) {
                return decodeURI(
                    window.location.search.replace(
                        new RegExp(
                            "^(?:.*[&\\?]" + encodeURI(sVar).replace(/[\.\+\*]/g, "\\$&") + "(?:\\=([^&]*))?)?.*$",
                            "i"
                        ),
                        "$1"
                    )
                );
            }

            const app = Vue.createApp({
                data() {
                    return {
                        zip_loader: null,
                    };
                },
                computed: {
                    shrink_package_title() {
                        if (this.zip_loader === null) return "";
                        return this.zip_loader.shrink_data_progress < 1
                            ? "Downloading the shrink package"
                            : "The shrink package downloaded";
                    },
                    blocks_state() {
                        if (this.zip_loader === null || this.zip_loader.download_state === null) return "";
                        let s = this.zip_loader.download_state;

                        if (s.downloaded_num === s.total_num) {
                            return "All blocks downloaded";
                        }

                        return (
                            "Downloading blocks " +
                            `${s.downloaded_num}(${this.format_size(s.downloaded_size)})` +
                            `/${s.total_num}(${this.format_size(s.total_size)})`
                        );
                    },
                },
                methods: {
                    format_size(size) {
                        let k = size / 1024;
                        let m = k / 1024;
                        return m < 1 ? k.toFixed(1) + "K" : m.toFixed(1) + "M";
                    },
                },
                created() {
                    let url = loadPageVar("pkg");
                    this.zip_loader = new zip_loader(url);
                    this.zip_loader.start();
                },
            }).mount("#app");
        </script>
    </body>
</html>
